*body {
    font-family: sans-serif;
}

/* the section is header strate */
.title {
    color: #272727;
    font-size: 60px;
    font-weight: 600;

}

.pragraph {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    font-weight: 700;
}

.countiner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 5%;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.h-width {
    width: 50%;
}

/* the section is header End */